*{
  margin:0;
  padding:0;
  overflow-x: hidden;
}
body{
  height: 100vh;
  background: rgb(48, 44, 44);
  color: rgb(238, 232, 232);
  overflow-x: hidden;
}

@media(max-width:768){
     body{
      overflow-x:hidden;
     }  
}
