 .services{
    display: flex;
    flex-direction: column;
    gap:80px;
    margin: 80px 170px;
    padding-top: 140px;
    overflow-x: hidden;
} 
.services-title{
    position: relative;
    text-align: center ;
}
.services-title h1{
    padding: 0px 0px;
    font-size: 50px;
    font-weight: 600;
}
.services-title img{
    padding: absolute;
    bottom: 0;
    right:0;
    z-index: -1;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.aSkills{
    display: flex;
    gap: 50px;
    align-items: center;
    transition:0.3s;
}
.aSkills p{
    min-width:150px;
    font-size: 24px;
    font-weight: 500;
}
.aSkills hr{
    outline: none;
    border: none;
    width: 40%;
    height: 10px;
    border-radius: 50px;
    background: linear-gradient(264deg, orange -5.09%, purple 106.28%);
    
}
.aSkills:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.aSkills img{
    
    height: 70px;
    height: 70px;
}


@media(max-width:768px){

    .aSkills{
        font-size: 20px;
        padding-left: 30%;
    
    }
    .aSkills p{
        font-size: 20px;
    }
    .aSkills hr{
        outline: none;
        border: none;
        width: 50%;
        height: 6px;
        border-radius: 50px;
        background: linear-gradient(264deg, orange -5.09%, purple 106.28%);
        display: none;
    }
    
    .services-title h1{
        position: start;
        font-size: 30px;
        
    }
    .aSkills img{
        height: 70px;
        width:70px; 
        
         
    }
    .skills{
        display: grid;
        grid-column: auto;
    }
    .services{
        overflow-x: hidden;
    }
}
